.block.welcome-message,
.block.welcome-message:hover {
  background-color:#FF0000;
}
.welcome-message a,
.welcome-message a:hover {
  background-color:#FF0000;
}
body,
.nickname,
.input-message,
.list,
.list-ctn,
.dropdown-menu,
.sticker-ctn {
  background: #F00;
}
.block {
  background-color: #FF0000;
}
